body {
    margin: 0;                                              /* Marges extérieures */
    line-height: 1.4;                                       /* Hauteur de ligne */
    letter-spacing: 0.2px;                                  /* Espacement des lettres */
    font-family: Arial, Helvetica, sans-serif;              /* Police de caractères */
}

.header {
    background: grey;                                     /* Couleur de fond */
    padding: 20px;                                          /* Marge intérieure */
    height: auto;                                           /* Hauteur automatique */
    color: white;                                         /* Couleur du texte */
    font-size: 20px;                                        /* Taille du texte */
}

.header img {
    width: 100%;                                            /* Largeur 100% */
    height: auto;                                           /* Hauteur automatique */
}

.header-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0.1em 0.2em;
    text-align: center;                                     /* Texte centré */ 
    background: #1ea7dd;                                  /* Couleur de fond */
}

.header-nav a {
                                       /* Marge interne */
    color: inherit;
    text-decoration: none;                                  /* Sans décoration */
    font-size: 1.3rem;                                      /* Taille du texte */
    padding: 0.4em 0.5em;
}

.header-nav a:hover {
    text-decoration: underline;                             /* Soulignement au survol */
}

.header-title {
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
    color: white;
    background: rgb(55, 28, 61);
    font-size: 1.3rem;                                      /* Taille du texte */
    padding: 0.1em 0.2em;
}

.main {
    background: lightgrey;                                /* Couleur de fond */
    padding: 20px;                                          /* Marge intérieure */
    font-size: 16px;                                        /* Taille du texte */
}

.main p {
    text-align: justify;                                    /* Texte justifié */
    
}

.footer {
    background: grey;                                     /* Couleur de fond */
    padding: 10px 20px;                                     /* Marge intérieure haut/bas et gauche/droite */
}

.button {
    color: #ffffff;                                       /* Couleur du texte */
    background: #1ea7dd;                                  /* Couleur de fond */
    text-decoration: none;                                  /* Sans décoration */
    font-size: 1.3rem;                                      /* Taille du texte */
    padding: 0.4em 0.5em;                                   /* Marge intérieure haut/bas et gauche/droite */
}