html, body {
    font-size: 16px;
}

body {
    margin: 0;                                              /* Marges extérieures */
    line-height: 1.4;                                       /* Hauteur de ligne */
    letter-spacing: 0.1px;                                  /* Espacement des lettres */
    font-family: Arial, Helvetica, sans-serif;              /* Police de caractères */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: grey;                                     /* Couleur de fond */
    padding: 20px;                                          /* Marge intérieure */
    color: white;                                         /* Couleur du texte */
    height: 34px;
    font-size: 20px;                                        /* Taille du texte */
    z-index: 2;
}

.header img {
    width: 100%;                                            /* Largeur 100% */
    height: auto;                                           /* Hauteur automatique */
}

.header-nav {
   margin: 20px 0;
   text-align: center;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 3;
}

.header-nav a {
    padding: 0 10px;                                        /* Marge interne */
    color: inherit;
    text-decoration: none;                                  /* Sans décoration */
}

.header-nav a:hover {
    text-decoration: underline;                             /* Soulignement au survol */
}

.header-title {
    position: absolute;
    left: 10px;
    top: 10px;
    margin-top: 0;
    font-style: italic;
    text-transform: capitalize;
    z-index: 4;
}

.main {
    position: relative;
    background: lightgrey;
    padding: 70px 20px 20px;
    font-size: 16px;
    z-index: 1;
}

.main p {
    text-align: justify;                                    /* Texte justifié */
    margin-bottom: 1.5rem;
}

.footer {
    background: grey;                                     /* Couleur de fond */
    padding: 10px 20px;                                     /* Marge intérieure haut/bas et gauche/droite */
}

.button {
    color: #ffffff;                                       /* Couleur du texte */
    background: #1ea7dd;                                  /* Couleur de fond */
    text-decoration: none;                                  /* Sans décoration */
    font-size: 1.3rem;                                      /* Taille du texte */
    padding: 0.4em 0.5em;                                   /* Marge intérieure haut/bas et gauche/droite */
}

.avatar-align-left {
    float: left;
    margin-right: 15px;
}

.avatar-align-right {
    float: right;
    margin-left: 15px;
}